body{
	font-size: 24px;
	background-color: blanchedalmond;
}

.jumbotron{
	text-align: center;
	background-color: rgb(133, 196, 201);
}
.resetGame{
	background-color: #56ce84;
	color: white;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
	font-family: Arial, Helvetica, sans-serif;
}
.resetGame:hover{
	background-color: #52242a;
}

.container{
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 840px;
}


.userChoice:hover{
	background-color: #3985a8;
	color: white;
	padding: 10px;
}
.footer {
    position: fixed;
    left: 0;
	bottom: 0;
	width: 100%;
    background-color: #777;
    color: #222;
	text-align: center;
	padding-top: 20px;
}



